/*@media screen and (max-width:900px){*/
	body{
		padding:0;
		margin:0;
		background-color: rgb(51,136,204);
	}
	.main{
		width:100%;
		height:100%;
	}
	.header{
		width:100%;
		height:8rem;
		position:relative;
		top:0;
		left:;
	}
	.header img{
		width:17%;
		height:3rem;
		position:absolute;
		top:5rem;
		left:15.4%;
	}
	.header p{
		width:42.3%;
		height:1.5rem;
		position:absolute;
		top:6rem;
		left:35%;
		margin:0px;
		color:white;
		font-weight: bolder;
		font-size: 1.5rem;
	}
	.box1{
		position:relative;
		top:4rem;
		left: ;
		width:100%;
		height:8rem;
	}
	.box1-id{
		position:absolute;
		top:;
		left:;
		width:100%;
		height:3rem;
	}
	.box1-idleft{
		width:14%;
		height:2rem;
		position: absolute;
		top:0.5rem;
		left:15%;
		color:rgb(95,95,95);
		z-index: 2;

	}
	.box1-idright{
		width:52%;
		height:2rem;
		position:absolute;
		top:;
		right:18%;
		border-radius: 10px;
		padding-left:17%;
		color:rgb(95,95,95);
		outline: 0;
	}
	.box1-password{
		position:absolute;
		top:4rem;
		left:;
		width:100%;
		height:4rem;
	}
	.box1-passwordleft{
		width:14%;
		height:2rem;
		position: absolute;
		top:0.5rem;
		left:15%; 
		color:rgb(95,95,95);
		z-index: 2;
	}
	.box1-passwordright{
		width:52%;
		height:2rem;
		position:absolute;
		top:0px;
		right:18%;
		border-radius: 10px;
		padding-left: 17%;
		color:rgb(95,95,95);
		outline:0;
	}
	.remember{
		width:100%;
		height:2rem;
		position:relative;
		top:3rem;
		left:;
	}
	.remember-1{
		width:7%;
		height:2rem;
		position:absolute;
		top:;
		left:52%;
		margin:0;

	}
	.remember-2{
		width:20%;
		height:2rem;
		position:absolute;
		top:0.3rem;
		left:60%;
		color: white;
	}
	.submit{
		width:100%;
		height:5rem;
		position:relative;
		top:5rem;
		left:;
	}
	.submit-1{
		width:69%;
		height:2rem;
		border-radius: 10px;
		position:absolute;
		top:;
		left:13%;
		color:rgb(95,95,95);
		background-color: white;
		outline:0;
	}
	.submit-2{
		width:69%;
		height:2rem;
		border-radius: 10px;
		position:absolute;
		top:3rem;
		left:13%;
		color:rgb(95,95,95);
		background-color: white;
		outline:0;
	}

/*@media screen and(min-width:960px)
{		
	body{
	padding:0;
	margin:0;
	background-color: rgb(51,136,204);
	}
	.main{
		width:20%;
		height:100%;
	}
}*/